
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: white;
    background: #343137;
}
.titulo{
    margin: 20px 0;
    animation: anima 3s linear infinite;
}
@keyframes anima{
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(0, 174, 255);
    }
    100%{
        color: rgb(116, 116, 255);
    }
}
.subtitulo{
    margin: 20px 0;
    animation: animated 3s linear infinite;
}
@keyframes animated{
    50%{
        color: gold;
        transition: 0.5s;
    }
    100%{
        transition: 0.5s;
        color: yellow;
    }
}
/*TELA DE PONTOS*/
.conteudo-pontos{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
/* TELA DE JOGO */
.game{
    background: rgb(9, 0, 54);
    width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid black;
}
.game::after{
    content: "";
    display: inline-block;
    left: 480px;
    top: -90px;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgb(255, 255, 255);
    background: rgb(180, 180, 180);
}

.sonico{
    position: relative;
    top: 240px;
    background-image: url("../img/sonic-esperando.png");
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

.pulo{
    animation: pular 0.4s linear;
}
@keyframes pular{
    0%{
        top: 240px;
    }
    30%{
        top: 200px;
    }
    50%{
        top: 170px;
    }
    80%{
        top: 200px;
    }
    100%{
        top: 240px;
    }
}

/*OBSTÁCULO*/
.espinhos{
    position: relative;
    top: 200px;
    background-image: url("../img/espinhos.png");
    background-size: cover;
    left: 560px;
    width: 40px;
    height: 40px;

}

.iniciar{
    animation: movimento 1.8s linear infinite;
}

@keyframes movimento {
    0%{
        left: 570px;
    }
    100%{
        left: 0px;
    }
}

.velocidade-aumentada{
    animation: movimentoRapido 1s linear infinite;
}

@keyframes movimentoRapido {
    0%{
        left: 570px;
    }
    100%{
        left: 0px;
    }
}

/*BOTAO*/
.conteudo-botao{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.btn-avancar{
    width: 40%;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    background: rgb(70, 0, 128);
    color: white;
    text-transform: uppercase;
    transition: 0.4s;
}
.sumir{
    display: none;
}
.btn-avancar:hover{
    transition: 0.5s;
    transform: scale(1.1);
    font-size: 38px;
    cursor: pointer;
}
